<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col-12">
            <app-table [isLoading]="isLoadingData" title="Users" [data]="users" [columns]="columns"
                (requestData)="requestData($event)" (optionsSelected)="updateUser($event)"
                [showEdit]="permissionService.canAccessByResource('update', usersResources.UpdateUsers)">
                <div *nbIsGranted="['create', usersResources.CreateUsers]" class="row">
                    <div class="col-12 mb-4 ml-auto">
                        <button [disabled]="(onlineStat.isOnlineSub.asObservable() | async) === false"
                            (click)="createUser()" nbButton status="primary">Create
                            User</button>
                    </div>
                </div>
            </app-table>
        </div>
    </div>
</div>