<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col-12">
            <app-table [isLoading]="isLoadingData" title="Load Points"
                subTitle="Manage all assets consuming energy from power stations" [data]="loadPoints"
                [columns]="columns"
                [showEdit]="permissionService.canAccessByResource('update', loadPointResources.UpdateLoadPoint)"
                (requestData)="requestData($event)" (optionsSelected)="updateLoadPoint($event)"
                [showAdd]="permissionService.canAccessByResource('create', loadPointResources.CreateLoadPoint)"
                (addClicked)="handleCreateNewLoadPointClick()">

                <button [routerLink]="[loadPointAnalyticsLink]" nbButton outline>
                    View Analytics
                    <nb-icon icon="pie-chart-outline"></nb-icon>
                </button>
            </app-table>
        </div>
    </div>
</div>