<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col-12">
            <app-table [isLoading]="isLoadingData" title="Generating Units" subTitle="Manage Generating Set assets attached to power stations" [data]="generatingSet" [columns]="columns"
                [showEdit]="permissionService.canAccessByResource('update', generatingSetResources.UpdateGeneratingSet)"
                (requestData)="requestData($event)" (optionsSelected)="updateGeneratingSet($event)"
                [showAdd]="permissionService.canAccessByResource('create', generatingSetResources.CreateGeneratingSet)"
                (addClicked)="handleCreateNewGeneratingSetClick()">
            </app-table>
        </div>
    </div>
</div>