<canvas id="landing-canvas"></canvas>
<nb-layout class="m-0 p-0">
    <nb-layout-header class="landing-header mx-md-5">
        <div class="header-container pr-0 col mt-md-5">
            <div class="logo-container">
                <h3>
                    <!-- <img src="assets/icons/logo.png" height="50px" alt=""> -->
                    Spout
                </h3>
            </div>
        </div>

        <div class="header-container col-auto mt-md-5 ml-5">
            <a [routerLink]="['/agent']" nbButton size="medium" status="success" outline>Agent Oboarding</a>
            <a [routerLink]="['/auth/login']" nbButton size="medium" status="primary">Sign In</a>
        </div>
    </nb-layout-header>

    <nb-layout-column>
        <div>
            <div class="container">
                <div class="row mt-5 m-autos">
                    <div class="col-md-5 offset-md-4" style="padding-left: 0px;">
                        <nb-alert *ngIf="errors?.length && !submitted" outline="danger" role="alert">
                            <p class="alert-title"><b>Oh snap!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                            </ul>
                        </nb-alert>

                        <nb-alert *ngIf="messages?.length && !submitted" outline="success" role="alert">
                            <p class="alert-title"><b>Hooray!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                            </ul>
                        </nb-alert>

                        <nb-alert *ngIf="!messages?.length && !submitted" outline="success" role="alert">
                            <p class="alert-title"><b>Hooray!</b></p>
                            <ul class="alert-message-list">
                                <li class="alert-message">Check Mail for Code or resend the Code</li>
                            </ul>
                        </nb-alert>
                    </div>
                    <nb-card [size]="'large'" accent="info" style="height:60%; z-index: 99999999;" class="offset-md-4">
                        <nb-card-body>
                            <div class="">
                                <form [formGroup]="agentOtpForm" #form="ngForm" class="my-0">

                                    <p class="font-weight-bold">Set up Account</p>
                                    <div class="form-control-group row my-3">
                                        <div class="col-sm-12">
                                            <label class="label" for="input-otp">One Time Token:</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input nbInput fullWidth name="otp" id="input-otp"
                                                placeholder="One Time Pin" #otp
                                                [status]="agentOtpForm.controls['otp'].touched ? (agentOtpForm.controls['otp'].invalid ? 'danger' : 'success') : 'basic'"
                                                formControlName="otp" autofocus>

                                            <div *ngIf="agentOtpForm.controls['otp'].invalid && agentOtpForm.controls['otp'].touched"
                                                class="text-danger xyz-in px-3 row">
                                                <small xyz="fade down" class="error-message"
                                                    *ngIf="agentOtpForm.controls['otp'].errors?.required">
                                                    OTP is required!
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-control-group row my-3">
                                        <div class="col-sm-12">
                                            <label class="label" for="input-pin">Transaction Pin</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input nbInput fullWidth name="pin" id="input-pin"
                                                placeholder="Transaction Pin" #pin
                                                [status]="agentOtpForm.controls['pin'].touched ? (agentOtpForm.controls['pin'].invalid ? 'danger' : 'success') : 'basic'"
                                                formControlName="pin" autofocus>

                                            <div *ngIf="agentOtpForm.controls['pin'].invalid && agentOtpForm.controls['pin'].touched"
                                                class="text-danger xyz-in px-3 row">
                                                <small xyz="fade down" class="error-message"
                                                    *ngIf="agentOtpForm.controls['pin'].errors?.required">
                                                    Pin is required!
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-control-group row my-3">
                                        <div class="col-sm-12">
                                            <label class="label" for="input-confirmPin">Confirm Transaction Pin</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input nbInput fullWidth name="confirmPin" id="input-confirmPin"
                                                placeholder="Confirm Transaction Pin" #confirmPin
                                                [status]="agentOtpForm.controls['confirmPin'].touched ? (agentOtpForm.controls['confirmPin'].invalid ? 'danger' : 'success') : 'basic'"
                                                formControlName="confirmPin" autofocus>

                                            <div *ngIf="agentOtpForm.controls['confirmPin'].invalid && agentOtpForm.controls['confirmPin'].touched"
                                                class="text-danger xyz-in px-3 row">
                                                <small xyz="fade down" class="error-message"
                                                    *ngIf="agentOtpForm.controls['confirmPin'].errors?.required">
                                                    Confirm Pin is required!
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <a (click)="resendOtp()" style="text-decoration: none; cursor: pointer;">Resend
                                            OTP</a>
                                    </div>
                                </form>
                            </div>

                        </nb-card-body>
                        <nb-card-footer>
                            <button (click)="verifyOtp()" [nbSpinner]="submitted" nbButton fullWidth status="success"
                                [disabled]="submitted || !agentOtpForm.valid">
                                Create Account
                            </button>
                        </nb-card-footer>
                    </nb-card>
                </div>
            </div>
        </div>

    </nb-layout-column>

</nb-layout>