<div class="container-fluid p-0 m-0">
    <div class="row m-0">
         <div class="col-12">
            <div class="row">
                <div class="col-md-9 col-xs-7">
                    <h4>LOADPOINT MANAGEMENT</h4>
                </div>
                <div class="col-md-3 col-xs-5">
                    <button nbButton outline class="manage-btn">Manage Loadpoint</button>
                </div>
            </div>

            <div class="row top-spacer">
                <div class="col-sm-6 order-sm-12">
                    
                    <div class="row select-card">
                        <div class="col-6">
                            <span class="select-card-icon">
                                <nb-icon icon="flash"></nb-icon>
                                ASSET TYPE
                            </span>
                        </div>
                        <div class="col-6">
                            <nb-select class="no-outline"  fullWidth size="medium" placeholder="Select Showcase" [(selected)]="selectedItem">
                                <nb-option value="Loadpoint"> LOAD</nb-option>
                            </nb-select>
                        </div>

                    </div>
                    <div class="row top-spacer select-card">
                        <div class="col-6">
                            <span class="select-card-icon">
                                <nb-icon icon="map"></nb-icon>
                                LOCATION
                            </span>
                        </div>
                        <div class="col-6">
                            <nb-select fullWidth size="medium" placeholder="Select Showcase" [(selected)]="selectedItem">
                                <nb-option value="">Option empty</nb-option>
                                <nb-option value="0">Option 0</nb-option>
                                <nb-option value="1">Option 1</nb-option>
                                <nb-option value="2">Option 2</nb-option>
                                <nb-option value="3">Option 3</nb-option>
                                <nb-option value="4">Option 4</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="row top-spacer select-card m-b-20">
                        <div class="col-6">
                            <span class="select-card-icon">
                                <nb-icon icon="flash"></nb-icon>
                                DATE
                            </span>
                        </div>
                        <div class="col-6">
                            <nb-select fullWidth size="medium" placeholder="Select Showcase" [(selected)]="selectedItem">
                                <nb-option value="">Option empty</nb-option>
                                <nb-option value="0">Option 0</nb-option>
                                <nb-option value="1">Option 1</nb-option>
                                <nb-option value="2">Option 2</nb-option>
                                <nb-option value="3">Option 3</nb-option>
                                <nb-option value="4">Option 4</nb-option>
                            </nb-select>
                        </div>


                    </div>
                </div>
                <div class="col-sm-6 order-sm-1 visible-lg">
                    <nb-card class="stat ">
                        <nb-card-body>
                            <div class="row">
                                <div class="col-6 pad">
                                    <p class="heading-stat">ENERGY CONSUMPTION</p>
                                    <p class="description-stat">564,563 KWH</p>
                                </div>
                                <div class="col-6 pad">
                                    <p class="heading-stat">ENERGY <br> COST</p>
                                    <p class="description-stat">₦564,563</p>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
            <div class="row top-spacer">
                <div class="col-md-6">
                    <nb-card>
                        <nb-card-body>
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                        </nb-card-body>
                    </nb-card>

                </div>
                <div class="col-md-6">
                    <nb-card>
                        <nb-card-body>
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                        </nb-card-body>
                    </nb-card>

                </div>
            </div>

            <div class="row">
                <div class="row m-0">
                    <div class="col-12">
                        <nb-accordion>
                            <nb-accordion-item>
                                <nb-accordion-item-header>Location Details </nb-accordion-item-header>
                                <nb-accordion-item-body>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, consectetur atque
                                    tempore quisquam aspernatur hic fugit esse assumenda est ipsam, quo consequatur
                                    dolores, repudiandae rerum! Eum ad adipisci deserunt sint!
                                    <!-- <app-table  title="Load Points"
                                        [columns]="columns">
                                    </app-table> -->
                                </nb-accordion-item-body>
                            </nb-accordion-item>
                        </nb-accordion>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>