@import "~@nebular/theme/styles/global/breakpoints";

::ng-deep ng2-smart-table-pager {
    display: block !important;
}

::ng-deep .ng2-smart-page-link {
    font-weight: 500;
}

::ng-deep .ng2-smart-sort-link {
    color: var(--text-basic-color) !important;
}

::ng-deep ng2-smart-table-title {
    --smart-table-header-font-weight: 700;
}

@include media-breakpoint-down(sm) {
    ::ng-deep .ng2-smart-page-link {
        padding: 8px 12px !important;
    }
}
