<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col-12">
            <div class="row">
            </div>
            <app-table [isLoading]="isLoadingData" title="Clients" [data]="clients" [columns]="columns"
                (requestData)="requestData($event)" (optionsSelected)="updateClient($event)"
                 >
                 <!-- [showEdit]="permissionService.canAccessByResource('update', clientResources.UpdateClient)" -->
                <div class="row">
                    <div class="col-12 mb-4 ml-auto">
                        <!-- *nbIsGranted="['create', clientResources.CreateClient]" -->
                        <button 
                            [disabled]="(onlineStat.isOnlineSub.asObservable() | async) === false"
                            (click)="handleCreateNewClientClick()" nbButton status="primary">Create
                            Client</button>
                    </div>
                </div>
            </app-table>
        </div>
    </div>
</div>
