<div style="width: 100vw;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
                <nb-card class="xyz-in dialog" xyz="fade down-25%" style="max-height: 100vh; overflow-y: auto;">
                    <nb-card-header class="font-weight-bold pb-1">
                        <div class="row">
                            <div class="col-auto h5">{{isCreateRequest ? 'Create' : 'Update'}} Load Point </div>
                            <div class="col ml-auto text-right">
                                <button [disabled]="submitted" (click)="close()" class="p-1" nbButton ghost>
                                    <nb-icon icon="close"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-alert *ngIf="errors?.length && !submitted" outline="danger" role="alert">
                            <p class="alert-title"><b>Oh snap!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                            </ul>
                        </nb-alert>

                        <nb-alert *ngIf=" messages?.length && !submitted" outline="success" role="alert">
                            <p class="alert-title"><b>Hooray!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                            </ul>
                        </nb-alert>

                        <form [formGroup]="serviceBandForm" #form="ngForm" class="my-3">

                            <div class="form-control-group row my-3">
                                <div class="col-sm-3">
                                    <label class="label" for="input-ServiceBandName">Name:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input nbInput fullWidth name="name" id="input-name" placeholder="Name" #name
                                        [status]="serviceBandForm.controls['name'].touched ? (serviceBandForm.controls['name'].invalid ? 'danger' : 'success') : 'basic'"
                                        formControlName="name" autofocus>

                                    <div *ngIf="serviceBandForm.controls['name'].invalid && serviceBandForm.controls['name'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message"
                                            *ngIf="serviceBandForm.controls['name'].errors?.required">
                                            Name is required!
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-control-group row my-3">
                                <div class="col-sm-3">
                                    <label class="label" for="input-upperBand">Upper Band:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input nbInput fullWidth name="upperBand" id="input-upperBand" placeholder="Upper Band"
                                        #upperBand (keypress)="keyPressNumbersOnly($event)"
                                        [status]="serviceBandForm.controls['upperBand'].touched ? (serviceBandForm.controls['upperBand'].invalid ? 'danger' : 'success') : 'basic'"
                                        formControlName="upperBand" autofocus>

                                    <div *ngIf="serviceBandForm.controls['upperBand'].invalid && serviceBandForm.controls['upperBand'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message"
                                            *ngIf="serviceBandForm.controls['upperBand'].errors?.required">
                                            Upper Band is required!
                                        </small>
                                        <small xyz="fade down" class="error-message d-block"
                                        *ngIf="!serviceBandForm.controls['upperBand'].errors?.required">
                                        {{serviceBandForm.controls['upperBand'].errors?.invalidupperBand}}
                                    </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-control-group row my-3">
                                <div class="col-sm-3">
                                    <label class="label" for="input-lowerBand">Lower Band:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input nbInput fullWidth name="lowerBand" id="input-lowerBand"
                                        placeholder="Lower Band" #lowerBand (keypress)="keyPressNumbersOnly($event)" 
                                        [status]="serviceBandForm.controls['lowerBand'].touched ? (serviceBandForm.controls['lowerBand'].invalid ? 'danger' : 'success') : 'basic'"
                                        formControlName="lowerBand" autofocus>

                                    <div *ngIf="serviceBandForm.controls['lowerBand'].invalid && serviceBandForm.controls['lowerBand'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message"
                                            *ngIf="serviceBandForm.controls['lowerBand'].errors?.required">
                                            Lower Band is required!
                                        </small>
                                        <small xyz="fade down" class="error-message d-block"
                                        *ngIf="!serviceBandForm.controls['lowerBand'].errors?.required">
                                        {{serviceBandForm.controls['lowerBand'].errors?.invalidlowerBand}}
                                    </small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                    <nb-card-footer>
                        <button (click)="isCreateRequest ? saveServiceBand() : updateServiceBand()" [nbSpinner]="submitted"
                            nbButton fullWidth status="success" [disabled]="submitted || !serviceBandForm.valid">
                            {{isCreateRequest ? 'Save' : 'Update'}}
                        </button>
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
    </div>
</div>