<div style="width: 100vw;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 mx-auto">
                <nb-card class="xyz-in" xyz="fade down" style="max-height: 100%;overflow-y: auto;">
                    <nb-card-header class="font-weight-bold pb-1">
                        <div class="row">
                            <div class="col-auto h5">New User Form</div>
                            <div class="col ml-auto text-right">
                                <button (click)="close()" class="p-1" nbButton ghost>
                                    <nb-icon icon="close"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-alert *ngIf="errors?.length && !submitted" outline="danger" role="alert">
                            <p class="alert-title"><b>Oh snap!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                            </ul>
                        </nb-alert>
                        <form [formGroup]="createUserForm" #form="ngForm" class="my-3">

                            <div class="form-control-group row mb-3">
                                <div class="col-sm-3">
                                    <label class="label" for="input-firstName">First Name:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input nbInput fullWidth name="firstName" id="input-firstName"
                                        placeholder="First Name"
                                        [status]="createUserForm.controls['firstName'].touched ? (createUserForm.controls['firstName'].invalid ? 'danger' : 'success') : 'basic'"
                                        formControlName="firstName" autofocus>
                                    <!-- input errors -->
                                    <div *ngIf="createUserForm.controls['firstName'].invalid && createUserForm.controls['firstName'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message"
                                            *ngIf="createUserForm.controls['firstName'].errors?.required">
                                            First Name is required!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-group mb-3 row">
                                <div class="col-sm-3">
                                    <label class="label" for="input-lastName">Last Name:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input nbInput fullWidth name="lastName" id="input-lastName" placeholder="Last Name"
                                        [status]="createUserForm.controls['lastName'].touched ? (createUserForm.controls['lastName'].invalid ? 'danger' : 'success') : 'basic'"
                                        formControlName="lastName" autofocus>
                                    <!-- input errors -->
                                    <div *ngIf="createUserForm.controls['lastName'].invalid && createUserForm.controls['lastName'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message"
                                            *ngIf="createUserForm.controls['lastName'].errors?.required">
                                            Last Name is required!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-group row mb-3">
                                <div class="col-sm-3">
                                    <label class="label" for="input-email">Email:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input nbInput fullWidth name="email" id="input-email" pattern=".+@.+\..+"
                                        placeholder="Email address"
                                        [status]="createUserForm.controls['email'].touched ? (createUserForm.controls['email'].invalid ? 'danger' : 'success') : 'basic'"
                                        formControlName="email" autofocus>
                                    <!-- input errors -->
                                    <div *ngIf="createUserForm.controls['email'].invalid && createUserForm.controls['email'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message d-block"
                                            *ngIf="createUserForm.controls['email'].errors?.required">
                                            Email is required!
                                        </small>
                                        <small xyz="fade down" class="error-message d-block"
                                            *ngIf="createUserForm.controls['email'].errors?.pattern && !createUserForm.controls['email'].errors?.required">
                                            {{createUserForm.controls['email'].errors?.email}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-group row mb-3">
                                <div class="col-sm-3">
                                    <label class="label" for="input-phoneNumber">Phone Number:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input nbInput fullWidth name="phoneNumber" id="input-phoneNumber"
                                        placeholder="Phone number"
                                        [status]="createUserForm.controls['phoneNumber'].touched ? (createUserForm.controls['phoneNumber'].invalid ? 'danger' : 'success') : 'basic'"
                                        formControlName="phoneNumber" autofocus>
                                    <!-- input errors -->
                                    <div *ngIf="createUserForm.controls['phoneNumber'].invalid && createUserForm.controls['phoneNumber'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message d-block"
                                            *ngIf="createUserForm.controls['phoneNumber'].errors?.required">
                                            Phone number is required
                                        </small>
                                        <small class="error-message d-block"
                                            *ngIf="createUserForm.controls['phoneNumber'].errors?.phoneNos && !createUserForm.controls['phoneNumber'].errors?.required">
                                            {{createUserForm.controls['phoneNumber'].errors?.phoneNos}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-group row mb-3">
                                <div class="col-sm-3">
                                    <label class="label" for="input-role">App Role:</label>
                                </div>
                                <div class="col-sm-9">
                                    <nb-select fullWidth placeholder="Select App Role" formControlName="role">
                                        <nb-option *ngFor="let role of appRoles$ | async; let i=index" [value]="role.name">
                                            {{role.name}}
                                        </nb-option>
                                    </nb-select>
                                    <!-- input errors -->
                                    <div *ngIf="createUserForm.controls['role'].invalid && createUserForm.controls['role'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message"
                                            *ngIf="createUserForm.controls['role'].errors?.required">
                                            App Role is required!
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </nb-card-body>
                    <nb-card-footer>
                        <button (click)="saveUser()" [nbSpinner]="submitted" nbButton fullWidth status="success"
                            [disabled]="submitted || !createUserForm.valid">
                            Save
                        </button>
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
    </div>
</div>