@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.manage-btn{
    color: #111111 !important;
    border-radius: 4px !important;
    background: #FFFFFF !important;
    border: 2px solid #111111 !important;
}

.heading-info{
    color: #111111;
}
.m-b-30{
    margin-bottom: 30px !important;
}

.pull-right{
    position: relative;
    right: -52px;
    top: -5px;
}

@media (min-width: 576px) {  
    .heading-info{
        font-size: 12px !important;
        color: red !important;
    }
}


.top-spacer{
    margin-top: 12px;
}

.stat{
    height: 157px;
    border-radius:30px ;
    .description-stat{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 18px;
        color: #F40909;
        display: flex;
        align-items: center;
    }
    .pad{
        padding-top: 40px;
        padding-left: 30px;
    }
    .heading-stat{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #000000;
        width: 130px;
        height: 20px;
        margin-bottom: 15px;
    }
}
.select-card{
    // background: #FFFFFF;
    background: nb-theme(select-card-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    min-height: 42px;
    .select-card-icon{
        position: relative;
        top: 9px;
    }
    
}

input{
    border: 1px solid transparent !important;
    background: #FFFFFF !important; 
    color:  #074EE8 !important;
 }

 .mobile-title{
    font-size: 12px;
    line-height: 11px;
 }

 .dateRangeInput{
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
    position: absolute;
    right: 3%;
 }

 .dateRangeInput::placeholder{
     color: #074EE8;
 }
 .mobile-description{
    font-size: 13px;
    color: red;
    font-weight: normal;
    margin-top: -13px;
    font-weight: 600;
 }


 .button-title{
    position: absolute;
    right: 1%;
 }
 
 
    @include media-breakpoint-down(is) {
        .header-title {
            font-size: 15px;
            line-height: 12px;
        }

        .button-title{
            padding: 5px !important;
            font-size: 10px;
        }
       
        .mobile-description{color: red;}

        .show-desktop{
            display: none;
        }
        .show-mobile{
            visibility: visible;
        }
      }


      @include media-breakpoint-down(md) {
        .show-mobile{
            display: none;
        }
      }

      @include media-breakpoint-down(lg) {
        .show-mobile{
            display: none;
        }
      }
