<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col-12">
            <nb-card>
                <nb-card-body>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <h5 class="mb-0">{{title}}</h5>
                        </div>
                        <div class="col-md-auto my-3 my-md-0">
                            <div *ngIf="isButton">
                                <button nbButton hero size="medium" (click)="configureForm()" fullWidth>
                                    Configure
                                </button>
                            </div>
                        </div>
                        <div class="col-md-auto my-3 my-md-0">
                            <div *ngIf="isButton">
                                <button nbButton hero size="medium" fullWidth
                                    [routerLink]="[btnData.link]">{{btnData.title}}</button>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-md-6">
            <div class="row select-card">
                <div class="col-6">
                    <span class="select-card-icon">
                        <nb-icon icon="flash-outline"></nb-icon>
                        ASSET TYPE
                    </span>
                </div>
                <div class="col-6">
                    <nb-select class="no-outline" fullWidth size="tiny" placeholder="Select Asset Type"
                        [(selected)]="selectedItemLoadPoint" disabled>
                        <nb-option *ngFor="let loadpoint of assetType" [value]="loadpoint.value">
                            {{loadpoint.value }}
                        </nb-option>
                    </nb-select>
                </div>

            </div>
            <div class="row select-card">
                <div class="col-6">
                    <span class="select-card-icon">
                        <nb-icon icon="pin-outline"></nb-icon>
                        LOCATION
                    </span>
                </div>
                <div class="col-6 ">
                    <nb-select fullWidth size="tiny" placeholder="Select Location" [(selected)]="selectedItemLocation">
                        <nb-option *ngFor="let location of locationData" [value]="location.name">
                            {{location.name }}
                        </nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="row  m-b-20">
                <div class="col-5">
                    <span class="select-card-icon">
                        <nb-icon icon="calendar-outline"></nb-icon>
                        DATE
                    </span>
                </div>
                <div class="col-7">
                    <input class="dateRangeInput" nbInput placeholder="Select a Date Range" [nbDatepicker]="formcontrol"
                        [formControl]="formControl">
                    <nb-rangepicker #formcontrol (rangeChange)="onEventStartEndRange($event)"></nb-rangepicker>
                </div>
            </div>
        </div>
        <div class="col-sm-6 order-sm-1" *ngIf="!isMobile">
            <nb-card class="stat">
                <nb-card-body>
                    <div class="row">
                        <div class="col-6 pad">
                            <h5 class="heading-stat">{{ cardTitle.titleOne }}</h5>
                            <h5 class="description-stat">{{energyUsed}}</h5>
                        </div>
                        <div class="col-6 pad">
                            <h5 class="heading-stat">{{ cardTitle.titleTwo }}</h5>
                            <h5 class="description-stat">{{energyCost}}</h5>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-sm-6 order-sm-1" *ngIf="isMobile" style="margin-top: 40px;">
            <div class="row">
                <div class="col-6">

                    <nb-card>
                        <nb-card-body>
                            <p class="mobile-title">{{ cardTitle.titleOne }}</p>
                            <p class="mobile-description">{{energyUsed}}</p>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div class="col-6">
                    <nb-card>
                        <nb-card-body>
                            <p class="mobile-title">{{ cardTitle.titleTwo }}</p>
                            <p class="mobile-description">{{energyCost}}</p>
                        </nb-card-body>
                    </nb-card>

                </div>
            </div>
        </div>
    </div>
</div>





<div class="row top-spacer">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header *ngIf="title">
                <div class="col p-0">
                    <span class="h5">
                        ENERGY CONSUMPTION
                    </span>
                </div>
            </nb-card-header>
            <nb-card-body>
                <app-chart [data]="chartData" [config]="chartConfig"></app-chart>
            </nb-card-body>
        </nb-card>

    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header *ngIf="title">
                <div class="col p-0">
                    <span class="h5">
                        ENERGY COST
                    </span>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="!isMap else mapView">
                    <app-chart [data]="chartData" [config]="chartConfig"></app-chart>
                </div>

                <ng-template #mapView>
                    <div class="col-12 col-lg-12 px-0">
                        <div class="chart-container">
                            <app-map [height]="isMobile ? '40vh' :'24vh'"></app-map>
                        </div>
                    </div>
                </ng-template>
            </nb-card-body>
        </nb-card>

    </div>

</div>
<div class="row">
    <div class="col-12">
        <app-table [showAdd]='false' [showEdit]='false' [title]="tableTitle" [data]="tableData" [columns]="tableColums">
        </app-table>

    </div>

</div>