<div style="width: 100vw;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto xyz-in dialog" xyz="fade down-25%"
                style="max-height: 100vh; overflow-y: auto;">
                <app-table [isLoading]="isLoadingData" [showAdd]='false' [hasCloseButton]="true" (closed)="close()"
                    [showEdit]='false' title="Load Points" subTitle="View load points attached to {{powerSourceRowData.name}} Power Station" [data]="powerSourceLoadPoint" [columns]="columns">
                </app-table>
            </div>
        </div>
    </div>