<app-dashboard-template

[title]="title" 
[btnData]="btnData"

[cardTitle]="cardTitle" 
[isLoading]="isLoadingData"
[assetType]="generatingSetTitle"
[locations]="generatingSetLocations"
[energyUsed]="energyUsed"
[energyCost]="energyCost"
[queryDate]="queryDate"
[isButton]="isButton"
[isMap]="isMap"
[chartData]="chartData"
[chartConfig]="chartConfig"
[ChartTitleOne]="chartTitleOne"
[ChartTitleTwo]="chartTitleTwo"
[tableTitle]="tableTitle"
[tableColums]="tabelColumns"


></app-dashboard-template>
