<a class="mr-2" nbTooltip="View on Maps" nbTooltipStatus="success"
    href="https://www.google.com/maps/?q={{rowData?.latitude}},{{rowData?.latitude}}" nbButton status="success"
    size="small" outline target="_blank" rel="noopener noreferrer">
    <nb-icon icon="map-outline" pack="eva"></nb-icon>
</a>
<a class="mr-2" nbTooltip="View Analytics" nbTooltipStatus="success" [routerLink]="[loadPointAnalyticsLink]"
    [queryParams]="{ locationName: rowData?.name, locationId: rowData?.id, startDate: monthStart, endDate: monthEnd }"
    nbButton size="small" outline>
    <nb-icon icon="pie-chart-outline" pack="eva"></nb-icon>
</a>