<div class="container-fluid p-0 m-0">
    <div class="row">
        <div class="col-12">
            <nb-card>
                <nb-card-body>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <h5 class="mb-md-0">{{title}}</h5>
                        </div>
                        <div class="col-md-auto my-3 my-md-0">
                            <div *ngIf="isButton">
                                <button nbButton outline status="primary" size="medium" (click)="configureForm()" fullWidth>
                                    <nb-icon icon="settings-2-outline"></nb-icon>
                                    Configure
                                </button>
                            </div>
                        </div>
                        <div class="col-md-auto my-3 my-md-0">
                            <div *ngIf="isButton">
                                <button nbButton outline size="medium" fullWidth
                                    [routerLink]="[btnData.link]">{{btnData.title}}</button>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <ng-content #name></ng-content>
    

    <!-- <div class="row">
        <div class="col-sm-6">
            <nb-card class="stat">
                <nb-card-body>
                    <div class="row">
                        <div class="col-6 pad">
                            <h5 class="heading-stat">{{ cardTitle.titleOne }}</h5>
                            <h5 class="description-stat">{{energyUsed}}</h5>
                        </div>
                        <div class="col-6 pad">
                            <h5 class="heading-stat">{{ cardTitle.titleTwo }}</h5>
                            <h5 class="description-stat">{{energyCost}}</h5>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <nb-card>
                <nb-card-header *ngIf="title">
                    <div class="col p-0">
                        <span class="h5">
                            ENERGY CONSUMPTION
                        </span>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <app-chart [data]="chartData" [config]="chartConfig"></app-chart>
                </nb-card-body>
            </nb-card>
    
        </div>
        <div class="col-md-6">
            <nb-card>
                <nb-card-header *ngIf="title">
                    <div class="col p-0">
                        <span class="h5">
                            ENERGY COST
                        </span>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div *ngIf="!isMap else mapView">
                        <app-chart [data]="chartData" [config]="chartConfig"></app-chart>
                    </div>
    
                    <ng-template #mapView>
                        <div class="col-12 col-lg-12 px-0">
                            <div class="chart-container">
                                <app-map [height]="isMobile ? '40vh' :'24vh'"></app-map>
                            </div>
                        </div>
                    </ng-template>
                </nb-card-body>
            </nb-card>
    
        </div>
    
    </div> -->
</div>






