.m-b-20{
    margin-bottom: 20px !important;
}
.top-space{
    position: relative;
    top: 5px;
}
.chart-heading{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}